<div class="banner col-xs-12 ">

    <div class="leftbanner"></div>

    <div class="middlebanner">
        <img id="header-logo" class="logo" src="http://media.ufc.tv/ufc_system_assets/ufc_201707101050/images/ufc_logo.png" width="159" height="54">
    </div>

    <div class="rightbanner"></div>

    <br style="clear: both;">
</div>
