@model MMA_site_app.Models.TitleHolder

@{
    ViewData["Title"] = "Create Title Holder";
}

<h2>Create</h2>

<h4>TitleHolder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record" class="control-label"></label>
                <input asp-for="Record" class="form-control" />
                <span asp-validation-for="Record" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightCategory" class="control-label"></label>
                <input asp-for="WeightCategory" class="form-control" />
                <span asp-validation-for="WeightCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileLink" class="control-label"></label>
                <input asp-for="ProfileLink" class="form-control" />
                <span asp-validation-for="ProfileLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
